# 전공자반 임원경

import sqlite3 as sql

In [2]:
con = None

In [3]:
try :
    con = sql.connect('test.db')
    
    cur = con.cursor()
    
    cur.execute('SELECT SQLITE_VERSIONS()')
    
    data = cur.fetchone()
    print('SQLite version : ', data)
    
except Exception as e:
    print('Error : ',e)
    
finally :
    if con :
        con.close()

Error :  no such function: SQLITE_VERSIONS

In [7]:
CARS = [
    (1, 'AUDI', 52642),
    (2, 'MERCEDES', 57127),
    (3, 'SKODA', 9000),
    (4, 'Hyundai', 23987492),
    (5, 'toyota', 74645),
    (6, 'kia', 94638
    
    )
]

con = sql.connect('test.db')
with con:
    cur = con.cursor()
    cur.execute("DROP TABLE IF EXISTS CARS")
    cur.execute('CREATE TABLE CARS(ID INT PRIMARY KEY, NAME TEXT, PRICE INT)')
    cur.executemany('INSERT INTO CARS VALUES(?, ?, ?)',CARS)

In [8]:
con = sql.connect('test.db')

with con :
    cur = con.cursor()
    cur.execute('SELECT * FROM CARS')
    
    while True :
        row = cur.fetchone()
        
        if row == None :
            break
        
        print(row[0], row[1], row[2])

1 AUDI 52642
2 MERCEDES 57127
3 SKODA 9000
4 Hyundai 23987492
5 toyota 74645
6 kia 94638

In [10]:
with con :
    con.row_factory = sql.Row
    
    cur = con.cursor()
    cur.execute('SELECT * FROM CARS')
    rows = cur.fetchall()
    for row in rows :
        print(row['ID'], row['name'], row['price'])

1 AUDI 52642
2 MERCEDES 57127
3 SKODA 9000
4 Hyundai 23987492
5 toyota 74645
6 kia 94638

In [13]:
uId = 1
uPrice = 62300

con = sql.connect('test.db')

with con :
    cur = con.cursor()
    cur.execute('UPDATE CARS SET PRICE = ? WHERE ID = ?',(uPrice, uId))
    print('Number of rows updated :',cur.rowcount)

Number of rows updated : 1

In [14]:
cur.execute('SELECT * FROM CARS')

In [15]:
A = cur.fetchone()

In [16]:
A

(1, 'AUDI', 62300)

In [17]:
print(A)

(1, 'AUDI', 62300)

In [18]:
a = cur.fetchall()

In [19]:
a

[(2, 'MERCEDES', 57127),
 (3, 'SKODA', 9000),
 (4, 'Hyundai', 23987492),
 (5, 'toyota', 74645),
 (6, 'kia', 94638)]

### python 연습문제

### 129

In [34]:
import random
l = [0 for i in range(13)]

def sim():
    t = l
    a = random.randrange(1,7)
    b = random.randrange(1,7)
    t[a+b] += 1
    return t

for i in range(1000):
    l = sim()

for i in range(1, 13):
    print(i, l[i]/1001 * 100 )

1 0.0
2 2.897102897102897
3 5.194805194805195
4 7.392607392607392
5 11.38861138861139
6 14.385614385614387
7 15.484515484515486
8 14.985014985014985
9 13.086913086913087
10 7.492507492507492
11 4.9950049950049955
12 2.5974025974025974

### 130

In [35]:
dict = {1 : '.,?!:', 2: 'ABC',3 : 'DEF', 4: 'GHI', 5 : 'JKL', 6:'MNO', 7 : 'PQRS', 8 : 'TUV', 9 : 'WXYZ', 0 : ' ' }
a = input()
for i in a :
    for j in dict :
        if i in dict[j] :
            for k in range(len(dict[j])) :
                if dict[j][k] == i:
                    for t in range(k+1):
                        print(j, end = '')

HELLO, WORLD!
4433555555666110966677755531111

### 131

In [38]:
dic = {'A' : '.-', 'B' : '-...', 'C': '-.-.', 'D' : '-..','E' : '.','F':'..-.','G' : '- -.','H' : '....', 'I' : '..'}
a = input()
for i in a :
    print(dic[i],end = '')

BABCDEFII
-....--...-.-.-.....-.....

### 132

In [39]:
dic = {'A' : 'kakaka', 'B' : 'titititi', 'C' : 'bebebe', 'E' : 'sfsafsf', 'G' : 'Quebec', 'H' : 'Quebec', 'J' : 'Quebec' , 'K': 'Ontario','L' : 'Ontario', 'M':'Ontario','N':'Ontario', 'P': 'Ontario', 'R' : 'Manitoba', 'S' : 'wrqw', 'T' : 'vjosdfo', 'V': 'QWERQC', 'X' : 'osdjflja or lslqpwjlf', 'Y' : 'yukon'}

In [40]:
a = input()
if a[1] == '0' :
    print('urban', dic[a[0]])
else :
    print('rural', dic[a[1]])

X0A 1B2
urban osdjflja or lslqpwjlf